<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th width="5%">Times</th>
      <th width="20%">Track 1</th>
      <th width="20%">Track 2</th>
      <th width="20%">Track 3</th>
      <th width="20%">Tutorials</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>08:30</td>

      <td colspan="4" rowspan="1"><a name="talk-registration"></a><a href="/demo/talk/">Registration</a></td>
    </tr>

    <tr>
      <td>09:30</td>

      <td colspan="4" rowspan="1"><a name="talk-welcome"></a><a href="/demo/talk/">Welcome</a></td>

    </tr>

    <tr>
      <td>10:00</td>

      <td colspan="4" rowspan="1"><a name="talk-the_python_paradox"></a><a href="/demo/talk/">The Python Paradox</a></td>

    </tr>

    <tr>
      <td>11:00</td>

      <td colspan="4" rowspan="1"><a name="talk-break"></a><a href="/demo/talk/">Break</a></td>

    </tr>

    <tr>
      <td>11:30</td>

      <td colspan="4" rowspan="1"><a name="talk-datacenter_and_cluster_management__facebook"></a><a href="/demo/talk/">Datacenter and Cluster Management @ Facebook</a></td>

    </tr>

    <tr>
      <td>12:30</td>

      <td colspan="1" rowspan="1"><a name="talk-flasky_goodness"></a><a href="/demo/talk/">Flasky Goodness</a></td>

      <td colspan="1" rowspan="1"><a name="talk-denormalizing_the_django_orm"></a><a href="/demo/talk/">Denormalizing the Django ORM</a></td>

      <td colspan="1" rowspan="1"><a name="talk-python_in_banking"></a><a href="/demo/talk/">Python in banking</a></td>

      <td colspan="1" rowspan="1"><a name="talk-setup_for_intro_to_python"></a><a href="/demo/talk/">Setup for Python Beginner's Tutorial</a></td>

    </tr>

    <tr>
      <td>13:00</td>

      <td colspan="4" rowspan="1"><a name="talk-lunch"></a><a href="/demo/talk/">Lunch</a></td>

    </tr>

    <tr>
      <td>14:00</td>

      <td colspan="1" rowspan="2"><a name="talk-allsinging_alldancing_python_bytecode"></a><a href="/demo/talk/">All-Singing All-Dancing Python Bytecode</a></td>

      <td colspan="1" rowspan="2"><a name="talk-a_better_future_with_python"></a><a href="/demo/talk/">A Better Future with Python</a></td>

      <td colspan="1" rowspan="1"><a name="talk-python_careers"></a><a href="/demo/talk/">Python Careers</a></td>

      <td colspan="1" rowspan="3"><a name="talk-python_tutorial"></a><a href="/demo/talk/">Python Beginner's Tutorial</a></td>

    </tr>

    <tr>
      <td>14:30</td>

      <td colspan="1" rowspan="1"><a name="talk-recruitment_session"></a><a href="/demo/talk/">Recruiting Session</a></td>

    </tr>

    <tr>
      <td>15:00</td>

      <td colspan="1" rowspan="1"><a name="talk-applied_buildout"></a><a href="/demo/talk/">Applied Buildout</a></td>

      <td colspan="1" rowspan="1"><a name="talk-beautiful_python_code"></a><a href="/demo/talk/">Beautiful python code</a></td>

      <td colspan="1" rowspan="1"><a name="talk-how_to_lose_friends_and_influence_burnout"></a><a href="/demo/talk/">How to Lose Friends and Influence Burnout</a></td>

    </tr>

    <tr>
      <td>15:30</td>

      <td colspan="4" rowspan="1"><a name="talk-break"></a><a href="/demo/talk/">Break</a></td>

    </tr>

    <tr>
      <td>16:00</td>

      <td colspan="1" rowspan="1"><a name="talk-marconi_queuing_and_notification_service_for_openstack"></a><a href="/demo/talk/">Marconi: Queuing and Notification service for OpenStack</a></td>

      <td colspan="1" rowspan="1"><a name="talk-gccpy_python_frontend_to_gcc"></a><a href="/demo/talk/">Gccpy - Python Front-end to GCC</a></td>

      <td colspan="1" rowspan="1"><a name="talk-restfs_internals"></a><a href="/demo/talk/">CANCELLED: RestFS internals</a></td>

      <td colspan="1" rowspan="2"><a name="talk-mongodb_and_python"></a><a href="/demo/talk/">MongoDB and Python</a></td>

    </tr>

    <tr>
      <td>17:00</td>

      <td colspan="1" rowspan="1"><a name="talk-contributing_to_openstack"></a><a href="/demo/talk/">Contributing to OpenStack</a></td>

      <td colspan="1" rowspan="1"><a name="talk-cpython_objects_implementation_pearls"></a><a href="/demo/talk/">CPython objects implementation pearls</a></td>

      <td colspan="1" rowspan="1"><a name="talk-heroku"></a><a href="/demo/talk/">Heroku 101</a></td>

    </tr>

    <tr>
      <td>17:30</td>

      <td colspan="4" rowspan="1"><a name="talk-lightning_talks"></a><a href="/demo/talk/">Lightning Talks</a></td>

    </tr>

    <tr>
      <td>18:30</td>

      <td colspan="4" rowspan="1"><a name="talk-mathematics__data_structures___artificial_intelligence__a_celebration_of_python_"></a><a href="/demo/talk/">Mathematics, Data structures &amp; Artificial Intelligence (A celebration of Python)</a></td>

    </tr>

    <tr>
      <td>19:00</td>

      <td colspan="4" rowspan="1"><a name="talk-dinner"></a><a href="/demo/talk/">Dinner</a></td>

    </tr>

    <tr>
      <td>20:00</td>

      <td colspan="4" rowspan="1"><a name="talk-entertainment"></a><a href="/demo/talk/">Entertainment</a></td>

    </tr>

  </tbody>
</table>