$red = #D3202E;
$dark-red = #B81C28;

$main-green =  #005468;
$main-red   =  #D32230;

$iphone-query      = "only screen and (max-width: 480px)"
$ipad-query        = "only screen and (min-width: 481px) and (max-width: 1000px)"
$screen-query      = "only screen and (min-width: 1001px) and (max-width: 1200px)"
$wide-screen-query = "only screen and (min-width: 1201px)"
$mobile-query      = "only screen and (max-width: 1000px)"
$desktop-query     = "only screen and (min-width: 1001px)"
