.talk-meta {
  dt {
    color: #999;
    font-weight: normal;
    margin: 15px 0 0;
  }
  dd {
    font-size: 28px;
  }
}
.small-title {
  font-size: 16px;
  font-weight: normal;
  color: #999;
}

.schedule-table {
  font-size: 16px;
  thead {
    th {
      color: #999;

    }
  }

  tbody {
    th {
      color: $dark-blue;
      font-weight: normal;
      // padding: 20px !important;
      vertical-align: middle !important;
    }
  }
  .panel {
    margin: 10px
  }
  .panel-body {
    padding: 0 10px 10px 10px
  }
}
.program-table {
  margin-bottom: 0

  th, td {
    padding: 5px 10px
  }

  > tbody > tr > th {
    color: $blue
    vertical-align: middlem
  }
  // tbody tr:first-child  {
  //   th, td {
  //     border: #000
  //   }
  // }

}
.program-time {
  color: darken($green, 20%)
  border-bottom:1px solid @color
  font-size: 20px
  span {
    position: relative
    top:0.7em
    padding: 5px
    background-color: #fff
  }
}
.program-day {
  // background-color: #eee
  margin: 1px
  // padding: 15px
}

.program-title {
  font-size: 16px
  margin: 0
  a {
    color: #666
  }
  small a{
    color: $green
  }
}

.speaker-link {
  margin: 0;
  a {
    color: $dark-blue;
    font-size: 0.8em;
  }
}