html, body {
  height: 100%; }

body {
  overflow: hidden; }

#logo {
  padding: 50px 0;
  text-align: center; }

#nav {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 250px;
  background-color: #D3202E;
  color: #FCFBF5;
  z-index: 10; }
  #nav ul {
    border-top: 1px solid #DC4F55; }
  #nav a {
    color: #FCFBF5;
    border-bottom: 1px solid #DC4F55;
    padding-left: 40px; }
  #nav a:hover, #nav .active a {
    background-color: #b81c28; }
  @media only screen and (max-width: 1000px) {
    #nav {
      width: 200px;
      display: none; }
      #nav #logo {
        display: none; } }

#main {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  padding: 20px; }
  @media only screen and (max-width: 1000px) {
    #main {
      left: 0; } }
  #main .btn-nav {
    position: absolute;
    left: 10px;
    top: 10px; }

@media only screen and (min-width: 1001px) {
  .btn-nav {
    display: none; } }

#sider {
  width: 200px;
  float: right; }
  #sider h3 {
    border-bottom: 1px solid #ccc;
    padding: 0 0 4px;
    color: #999; }

#title {
  margin: -20px -20px 20px;
  padding: 20px 20px;
  background: url("images/pattern.png"); }

body {
  background: #FDFCF6;
  font-size: 18px; }

a {
  color: #D3202E; }

a:hover {
  color: #a71924; }

.container {
  width: 800px;
  margin: 0 auto; }

.welcome-header {
  text-align: center;
  padding: 50px 0 5px;
  background: #f5f4ee image-url("pattern.png"); }

.hero-text {
  font-size: 36px;
  line-height: 2;
  font-weight: bold;
  margin: 0.8em 0; }

.footer {
  background-color: #005468;
  padding: 1em;
  color: #FDFCF6;
  margin-top: 4em; }
  .footer .text-center {
    font-size: 40px;
    margin: 0.5em; }

.divider:before {
  content: '. . . . . .';
  width: 100%;
  display: block;
  text-align: center;
  color: #005468; }

.text-center {
  text-align: center; }

.doc-title {
  font-size: 32px;
  position: relative;
  margin: 1.5em 0 0.7em;
  font-weight: bold;
  color: #d32230; }

.doc-content p {
  line-height: 1.5;
  font-size: 18px;
  margin: 0 0 1em;
  color: #555; }
.doc-content li {
  list-style-type: square; }

.section-title {
  border-bottom: 3px solid #D3202E;
  padding: 0 0 4px;
  margin-bottom: 20px; }

.sponsers {
  margin: 10px -10px; }
  .sponsers img {
    float: left;
    margin: 10px; }

.home-sponsers {
  text-align: center;
  background-color: rgba(245, 244, 238, 0.8);
  margin: -19px -20px 0;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(102, 102, 102, 0.1);
  box-shadow: 0 1px 1px rgba(102, 102, 102, 0.1); }
  .home-sponsers h4 {
    color: #e4e1ce;
    margin: 5 0 15px; }
  .home-sponsers .sponser-logos {
    margin: 5px; }
    .home-sponsers .sponser-logos img {
      margin: 10px 5px; }
  .home-sponsers .sponser-more {
    margin: -3px 0 0;
    height: 0; }
    .home-sponsers .sponser-more a.btn {
      padding: 10px 20px;
      background-color: #F6F5EF;
      color: #999;
      border: none; }
      .home-sponsers .sponser-more a.btn:hover {
        color: #000; }

.Show {
  display: block !important; }

#main.SlideRight {
  left: 200px;
  width: 100%; }
