{% load mezzanine_tags %}

{% editable_loader %}

{% if not settings.DEBUG %}
<script>
{% if not request.user.is_superuser %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', 'UA-28961467-1']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}

</script>
{% endif %}

{% if LANGUAGE_CODE == 'zh' %}
<script>$('html').attr('lang', 'zh-Hant').addClass('han-la han-biaodian-pro-cns')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Han/2.2.3/js/han.js"></script>
{% endif %}
