{% extends "base.html" %}

{% load i18n %}

{% block title %}Speaker List{% endblock title %}

{% block meta_title %}Speaker List{% endblock %}


{% block content %}

<div class="content">
    <table id="proposal_review_list" class="pycon-table table table-strip">
        <thead>
            <tr>
                <th>{% trans "Full name" %}</th>
                <th>{% trans "Location" %}</th>
                <th>{% trans "Organization/Company" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Picture" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for speaker in speakers %}
            <tr>
                <td><a href="{% url 'speaker:info' speaker.id %}">{{speaker.get_full_name}}</a></td>
                <td>{{speaker.get_profile.location}}</td>
                <td>{{speaker.get_profile.org}}</td>
                <td>{{speaker.get_profile.title}}</td>
                {% if speaker.get_profile.picture %}
                <td><a href="{{speaker.get_profile.picture.url}}">{% trans "Link" %}</a>
                ({{speaker.get_profile.picture_size}})</td>
                {% else %}
                <td>{% trans "Not available" %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
