{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Speaker List" %}{% endblock title %}

{% block meta_title %}{% trans "Speaker List" %}{% endblock %}

{% block content %}
<div class="container-main">
    {% for speaker in speakers %}
        <div class="panel speaker-panel">
        {% if speaker.get_profile.picture %}
            <div class="figure" style="background-image: url({{speaker.get_profile.picture.url}})">

            </div>
        {% else %}
            <div class="figure"></div>
        {% endif %}


            <div class="panel-body">
                <p class="location">{{speaker.get_profile.location}}</p>
                <p class="name"><a href="{% url 'speaker:info' speaker.id %}">{{speaker.get_full_name}}</a></p>
                <p class="org">{{speaker.get_profile.org}}</p>
                <p class="title">{{speaker.get_profile.title}}</p>
            </div>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>
{% endblock content %}
