{% load i18n %}

<div class="program-title">
  {% if proposal.id %}<a href="{% url 'proposal_content' proposal_id=proposal.id %}" turbolink>{% endif %}
    {{proposal.title}}
  {% if proposal.id %}</a>{% endif %}
  {% if proposal.author.id %}
    <a style="display:inline;" href="{% url 'speaker:info' proposal.author.id %}"><small>{{proposal.author.first_name}} {{proposal.author.last_name}}</small></a>
  {% else %}
    <small>{{proposal.author.first_name}} {{proposal.author.last_name}}</small>
  {% endif %}
  {% if proposal.language == 1 %}
  <span class="tag tag-primary" title="{% trans "Mandarin" %}"> zh </span>
  {% else %}
  <span class="tag tag-primary" title="{% trans "English" %}"> en </span>
  {% endif %}
  <span class="program-link">
    {% if proposal.slide_link %}<a class="link-btn" href="{{proposal.slide_link}}" target="_blank">{% trans "Slide" %}</a>{% endif %}
    {% if proposal.video_link %}<a class="link-btn" href="{{proposal.video_link}}" target="_blank">{% trans "Video" %}</a>{% endif %}
  </span>
</div>
