<div class="panel-heading">
    <h1>
    The Python Paradox
    </h1>
</div>

<div class="panel-body">
    <dl class="talk-meta">
        <dt>Speaker</dt>
        <dd><a href="/pycon/2013/speakers/mike_muller/">Mike Müller</a></dd>

        <dt>When</dt>
        <dd><a href="/pycon/2013/schedule/#talk-the_python_paradox">Saturday 10:00 - 11:00</a></dd>
    </dl>
    <hr>

    <p>Python is very popular among beginner programmers. Frequently, people who have no programming background use Python to enter into the world of programming. High school students like to use Python and it is often their first programming language. It is relativity easy to learn and get started with. Projects like the Raspberry Pi use it as the preferred way of programming for this little great devices.</p>
    <p>On the other hand, Python offers powerful features like metaprogramming that are often more jokingly referred to with the phrase "makes your head explode". Even experienced Python users can learn a lot of sophisticated techniques if they dive deeper into the language. These features often provide the basis for popular frameworks for testing, database and web programming.</p>
    <p>This talk explores the features of Python that make it suitable for both extremes of the programmer spectrum. It analyzes this paradoxical situation to find out how much it contributes to Python's success.</p>
    <hr>

    </dl>
</div>
