{% extends "base.html" %}

{% load i18n %}

{% block title %}My Review{% endblock title %}

{% block content %}

<div class="content">

    <p class="action-btn-block">
    </p>

    <table class="table table-strip">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Rank" %}</th>
                <th>{% trans "Comment" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{review.proposal.title}}</td>
                <td>{{review.rank}}</td>
                <td>{{review.comment}}</td>
                <td>
                    <a href="{% url "proposal_review:do_review" review.proposal.id %}" class="btn btn-info">{% trans "Review" %}</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">{% trans "No Review" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
