{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block meta_title_block %}PyCon APAC 2014{% endblock %}

{% block #title %}
<h1>Create Proposal</h1>
{% endblock %}

{% block .breadcrumb %}{% endblock %}

{% block content %}

<form class="form" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form proposal_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>

{% endblock %}

{% block sider %}{% endblock %}
