{% extends "base.html" %}
{% load i18n %}

{% block meta_title_block %}PyCon APAC 2014{% endblock %}

{% block extra_head %}
<script>
    $(function(){
        $(".btn.delete-proposal").on("click", function(event){
            var $target = $(event.target);
            var action = $target.attr("data-href");
            var $modal = $("#proposal-delete-modal");
            $modal.find("form").attr("action", action);
            $modal.modal({
                "backdrop": "static",
                "show": true
            });
        });

        $(".btn.upload-abstract").on("click", function(event){
            var $target = $(event.target);
            var action = $target.attr("data-href");
            var $modal = $("#upload-abstract-modal");
            $modal.find("form").attr("action", action);
            $modal.modal({
                "backdrop": "static",
                "show": true
            });
        });
    });
</script>
{% endblock %}


{% block title %}{% trans "My Proposals" %}{% endblock %}

{% block .breadcrumb %}{% endblock %}

{% block content %}


<div class="content">
    <p class="action-btn-block">
        <a class="btn btn-default btn-lg" href="{% url "proposal:create" %}">{% trans "Create a Proposal" %}</a>
    </p>

    {% for proposal in my_proposal %}


      <div class="paper">
        <h3 class="d-title">
          {{proposal.title}}
          <small>by</small>
          {{proposal.author.get_full_name}}
        </h3>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <dl class="dl-info">
              <dt>{% trans "Speech Type" %}</dt>
              <dd>{{proposal.get_speech_type_display}}</dd>
              <dt>{% trans "Audience level" %}</dt>
              <dd>{{proposal.get_audience_level_display}}</dd>
            </dl>
          </div>
          <div class="col-md-4">
            <dl class="dl-info">
              <dt>{% trans "Language" %}</dt>
              <dd>{{proposal.get_language_display}}</dd>
              <dt>{% trans "Recording Perm." %}</dt>
              <dd>{{proposal.get_talk_perm_display}}</dd>
            </dl>
          </div>
          <div class="col-md-4">
            <dl class="dl-info">
              <dt>{% trans "Abstract" %} <span class="note">{% trans "(PDF file)" %}</span></dt>
              <dd>
                {% if proposal.abstractfile and proposal.abstractfile.has_file %}
                <a href="{{proposal.abstractfile.url}}" target="_blank">
                {{proposal.abstractfile}}
                </a>
                {% else %}
                <span>{% trans "No abstract file." %}</span>
                {% endif %}
                &nbsp;
                <button data-href="{% url "proposal:upload_abstract" proposal.id %}" class="btn btn-info upload-abstract">{% trans "Upload" %}</button>

              </dd>
            </dl>
          </div>
        </div>
        <div class="clear"></div>
        <hr>
        <dl class="dl-info">
          <dt>{% trans "Description" %}</dt>
          <dd>{{proposal.description}}</dd>
          <dt>{% trans "Additional information" %}</dt>
          <dd>{{proposal.additional_info}}</dd>
        </dl>
        <hr>
        <p class="text-right">
          <a href="{% url "proposal:update" proposal.id %}" class="btn btn-info">{% trans "Update" %}</a>
          <button data-href="{% url "proposal:delete" proposal.id %}" class="btn btn-danger delete-proposal">{% trans "Delete" %}</button>
        </p>


      </div>

    {% empty %}
      <hr>
      <p>{% trans "No Proposal" %}</p>
    {% endfor %}

</div>


<div id="upload-abstract-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>{% trans "Upload Abstract" %}</h4>
            </div>
            <form class="form-inline" method="post" action="." enctype="multipart/form-data">
            <div class="modal-body">
                {% csrf_token %}
                {{ upload_abstract_form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="submit" class="btn btn-danger">{% trans "Upload" %}</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="proposal-delete-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>{% trans "Delete Proposal" %}</h4>
            </div>
            <div class="modal-body">
              {% blocktrans %}
                Are you sure to <strong>delete</strong> this proposal?
              {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <form class="form-inline" method="post" action=".">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block sider %}{% endblock %}
