{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load blog_tags keyword_tags %}

{% block meta_title_block %}PyCon APAC 2014{% endblock %}

{% block #title %}{% endblock %}

{% block .breadcrumb %}{% endblock %}

{% block content %}
<div id="title" class="index-title">
  <div class="welcome-header">
    <img src="{{ STATIC_URL }}images/logo.svg?2" alt="">
    <p class="home-condate">
      MAY <b>17-18</b> 2014 in <strong>Taipei</strong>
    </p>
    <p class="hero-text">from everything import future</p>

  </div>
</div>

<div class="home-sponsors">
  <h3 class="title code">dir()</h3>
  <p class="apply">
    <span>
      <a href="http://tinyurl.com/pycheckio">CheckIO Contest</a>,
    </span>
    <span>
      <a href="https://pyconapac2014.hackpad.com/PyCon-APAC-2014-Co-Notes-Index-ZQKz3p7rhmP">
        Co-note
      </a> &
      <a href="https://pyconapac2014.hackpad.com/PyCon-APAC-2014-Co-Notes-Index-ZQKz3p7rhmP#:h=IRC">
        IRC
      </a>,
    </span>
    <span>
      <a href="/program/showtime-jobfair/">Sponsors' Job Fair</a>
    </span>
    <span class="div-line">&nbsp;</span>
    <span>
      <a href="/about/code-of-conduct/">Code of Conduct</a>
    </span>
  </p>
</div>

{% include "_indexsponsors.html" %}

<div class="content ">
  <div class="paper">
    <h2 class="doc-title">{% trans "BLOG" %}</h2>
    <div class="doc-content">
      {% for blog_post in blog_posts %}
      <h6 class="pull-right">
          {% with blog_post.categories.all as categories %}
          {% if categories %}
          {% trans "in" %}
          {% for category in categories %}
          <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
      </h6>

      <h3 class="blog-list-detail">
          <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
      </h3>

      {% endfor %}

    </div>

    <h2 class="doc-title">{% trans "Local User Group" %}</h2>
    <div class="doc-content">
      <div class="user-groups">
        <ul class="well-list clearfix">
          <p>{% blocktrans %}
          <li>
            <a class="single-line" href="http://www.meetup.com/pythonhug/">
            PyHUG - Python Hsinchu User Group
            </a>
          </li>
          <li>
            <a class="single-line" href="http://taipei.python.org.tw/">
            Taipei.py - Taipei Python User Group
            </a>
          </li>
          <li>
            <a class="single-line" href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/">
            Tainan.py - Python Tainan User Group
            </a>
          </li>
          <li>
            <a class="single-line" href="http://tw.pyladies.com/">
            PyLadies Taiwan
            </a>
          </li>
          <li>
            <a class="single-line" href="http://hualien.python.org.tw/">
            Hualien.py - Hualien Python User Group
            </a>
          </li>
          {% endblocktrans %}</p>
        </ul>

      </div>

    </div>

  </div>
</div>


{% endblock %}

{% block sider %}{% endblock %}
