{% load i18n %}

<div class="program-title">
  {% if proposal.id %}<a href="{% url 'proposal_content' proposal_id=proposal.id %}" turbolink>{% endif %}

  {{proposal.title}}

  <br>
  {% if proposal.author.id %}
    <small>{{proposal.author.first_name}} {{proposal.author.last_name}}</small>
  {% else %}
    <small>{{proposal.author.first_name}} {{proposal.author.last_name}}</small>
  {% endif %}
  {% if proposal.language == 1 %}
  <span class="tag tag-primary" title="{% trans "Mandarin" %}"> zh </span>
  {% else %}
  <span class="tag tag-primary" title="{% trans "English" %}"> en </span>
  {% endif %}
  {% if proposal.id %}</a>{% endif %}
</div>
