{% load i18n %}


<div class="panel-heading">
    <h1 class="talk-title">
      {{proposal.title}}
    </h1>
    <p class="talk-meta">
        <span class="talk-speaker">

        {{proposal.author.first_name}}
        {{proposal.author.last_name}}

        </span>
        <span class="talk-lang">
            ／{% trans proposal.get_language_display %}
        </span>
        <span class="program-link">
            {% if proposal.slide_link %}<a class="link-btn" href="{{proposal.slide_link}}" target="_blank">{% trans "Slide" %}</a>{% endif %}
            {% if proposal.video_link %}<a class="link-btn" href="{{proposal.video_link}}" target="_blank">{% trans "Video" %}</a>{% endif %}
        </span>
    </p>
</div>

<div class="panel-body">
    <div style="white-space: pre-wrap">
    {{proposal.description}}
    </div>

    <hr>

    <h3>{% trans "About Speaker" %}</h3>
    <br>
    <div class="row">
      {% include "_speaker_info.html"  %}
    </div>

    <!-- <hr> -->
    <!-- <h4 class="small-title">Media</h4> -->
    <!-- <ul class="square-list text-muted"> -->
    <!--     <li>Slide: coming soon.</li> -->
    <!--     <li>Video: coming soon.</li> -->
    <!-- </ul> -->
</div>
