{% load i18n %}

<div class="panel-heading">
    <h1>
      {{proposal.title}}
    </h1>
</div>

<div class="panel-body">
    <dl class="talk-meta">
      <dt>{% trans "Speaker" %}</dt>
        <dd>
          <a href="/{{LANGUAGE_CODE}}/speakers/{{proposal.author.id}}">
            {{proposal.author.first_name}} {{proposal.author.last_name}}
          </a>
        </dd>
        <dt>{% trans "Language" %}</dt>
        <dd>
            {% trans proposal.get_language_display %}
        </dd>
    </dl>

    <hr>

    <p><pre>{{proposal.description}}</pre>

    <!-- <hr> -->
    <!-- <h4 class="small-title">Media</h4> -->
    <!-- <ul class="square-list text-muted"> -->
    <!--     <li>Slide: coming soon.</li> -->
    <!--     <li>Video: coming soon.</li> -->
    <!-- </ul> -->

</div>
